<hr>
<h1>Chat</h1>
<div id="chat">
  <ul id="messages">
  </ul>
</div>
<form id="chatForm">
  <input type="email" name="email" placeholder="Email" required>
  <div>
  <input type="text" name="message" id="message" placeholder="Message" required>
  <button type="submit">Send</button>
  </div>
</form>