<div class="content">
  <h1>User Login</h1> 
<form method="post" class="form">
  <label for="user"><h3>Type your name</h3></label>
  <input type="text" name='user' required >
  <button type="submit">Send</button>
</form>
</div>